<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Barman Mobile</name>
    <description>
        Barman Mobile - A Alcohol/Non-Alcohol recipes hybrid mobile app created with phonegap.
    </description>
    <author email="marek.nieckula@hotmail.com" href="http://phonegap.com">
        Marek Nieckula
    </author>
    <content src="index.html" />
    <icon src="icons/ldpi.png" platform="android" qualifier="ldpi" />
    <icon src="icons/mdpi.png" platform="android" qualifier="mdpi" />
    <icon src="icons/hdpi.png" platform="android" qualifier="hdpi" />
    <icon src="icons/xhdpi.png" platform="android" qualifier="xhdpi" />
    <icon src="icons/xxhdpi.png" platform="android" qualifier="xxhdpi" />
    <access origin="*" />
    <plugin name="cordova-plugin-camera" spec="~2.4.1" />
</widget>
